@import "tailwindcss";

@theme {
  --color-primary: #5D7B6F;
  --color-primary-dark: #4A6459;
  --color-primary-darker: #3A5247;
  --color-primary-light: #8FAA9F;
  --color-primary-lighter: #D0DED8;
  --color-primary-text: #5D7B6F;
}

/* Custom Utilities if needed */